<%= link_to 'přejít k rozestavěné dílně', '/dilna/tabule' %>

<div id="brana_odkazy">
  <%= link_to 'vlevo', zed_path, id: 'zed_link' %>
  <%= link_to 'vpravo', vyveska_path, id: 'vyveska_link' %>
</div>