<%= backgroun_image_for '#predhradi_page', 'predhradi/vyveska_vystavba.bmp' %>
<div id="brana_odkazy">
  <%= link_to 'zpátky', brana_path, id: 'zed_link' %>
</div>
<div id="version_text">
  Verze kódu: <%= Nesselsburg::CODE_VERSION %>
  <br/>Stav: <%= Nesselsburg::STATUS %>
</div>