/*
*= require hrad/_base
*/

$menu-width: 100px;
$menu-padding: 8px;

body {
  margin: 0;
}

#menu {
  position: fixed;
  padding: 8px;
  width: $menu-width;
  background-color: #c1dd96;
  height: 100%;
}


#content {
  margin-left: $menu-width + 2*$menu-padding;
}
