<%= content_for :naradi, javascript_include_tag('dilna/dama') %>
<style>
  #container {
    width: 600px;
    height: 400px;
    float: left
  }
</style>
<div id="container"></div>
<div id="info"></div>