<%= content_for :naradi, javascript_include_tag('three.js/three.js')  %>
<%= content_for :naradi, javascript_include_tag('dilna/dama')  %>
<style>
  #container {
    width: 600px;
    height: 400px;
    float: left;
  }
  #info {
    clear: both;
  }
</style>
<div id="container"></div>
<div>
  <h2>Popisek:</h2>
  q:  x--<br/>
  w:  x++<br/>
  a:  y++<br/>
  y:  y--<br/>
  s:  z--<br/>
  x:  z++<br/>
</div>
<div id="info"></div>