<!DOCTYPE html>
<html>
<head>
    <title>Stand-alone test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r69/three.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>

<div id="container">
</div>

<style media="screen" type="text/css">
    #container {
        width: 400px;
        height: 400px;
        border: 1px solid black;
    }
</style>

<script type="text/javascript">
    var container, camera, scene, renderer;
    var ctverec_mesh;

    $(function () {
        init_zarizeni();
        renderer.render(scene, camera);
        scene.add(Kolco());
        renderer.render(scene, camera);
    });

    function init_zarizeni() {
        //init kamery
        camera = new THREE.OrthographicCamera(200, -200, 200, -200, 0, 50);
        camera.up = new THREE.Vector3(0, -1, 0);
        camera.position.set(200, 200, 25);
        camera.lookAt(new THREE.Vector3(200, 200, 0));

        // init scény
        scene = new THREE.Scene();

        // init vykreslování
        container = $('#container');
        renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(0x4364A2);
        renderer.setSize(400, 400);
        container.append(renderer.domElement);
    }

    function Kolco() {
        var radius = 0.3;
        var stroke = 0.02;

        var geom = new THREE.PlaneGeometry(150, 150);
        var mater = new THREE.ShaderMaterial({
            uniforms: {
                radius: { type: "f", value: radius },
                stroke: { type: "f", value: radius+stroke },
                strokeCol: { type: "c", value: new THREE.Color( 0xffff00 ) }
            },
            vertexShader: $('#kolco_vs').text(),
            fragmentShader: $('#kolco_fs').text(),
            side: THREE.BackSide
        });

        ctverec_mesh = new THREE.Mesh(geom, mater);
        ctverec_mesh.position.x = 100;
        ctverec_mesh.position.y = 100;
        return ctverec_mesh;
    }

</script>

<script id="kolco_vs" type="x-shader/x-vertex">
    varying vec2 vUV;
    void main() {
        vUV = uv;
        gl_Position = projectionMatrix * modelViewMatrix * vec4(position,1.0);
    }
</script>

<script id="kolco_fs" type="x-shader/x-fragment">
    uniform vec3 strokeCol;
    uniform float radius;
    uniform float stroke;
    varying vec2 vUV;
    void main() {
        float d = distance(vUV, vec2(.5, .5));
        if(d>=radius && d<stroke) gl_FragColor = vec4(strokeCol, 1.);
        else discard;
    }
</script>

</body>
</html>
