<%#= backgroun_image_for '#content', image_path %>

<% flash.each do |k,txt| %>
  <%= k.upcase %> : <%= txt %>
<% end %>


<br/>
<br/>
<br/>
<br/>
<br/>
Projekty ve vývoji:
<br/><%= link_na_prostranstvi 'První hra v Three.js : Dáma beta.1', 'dama' %>
<br/><%= link_na_prostranstvi 'Druhá hra : Posuň blok alfa.11', 'posun_blok' %>

<!--<div style="top: 8em; position: absolute; border-top: 4px groove gray;min-width: 500px;padding: 2em">-->

  <br/><%#= link_to 'Druhé hraní v Three.js : posun_blok', Dilna::Naradi.new('posun_blok').path %>
  <br/><%#= link_to 'websocket pokus: self_chat', Dilna::Naradi.new('self_chat').path %>
<!--</div>-->
