<div id="logo">
  MENU
</div>
<br/>
<br/><%= link_to 'dílna', dilna_tabule_path %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/><%= link_to 'odejít', brana_path %>