<% attach_threejs 'games/dama' %>
<style>
  #game_container {
    width: 600px;
    height: 400px;
    float: left;
    margin: 2em;
  }
</style>
<div id="game_container"></div>
<div id="printout"></div>