<% vem_naradi('games/dama'){ stylesheet_link_tag 'games/dama' } %>
<div id="game_dama">
  <div id="game_menu">
    toto je menu
  </div>
  <div id="game_container"></div>
</div>
<div id="printout"></div>