<!DOCTYPE html>
<html>
<head>
  <title>Předhradí Nesselsburgu</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= content_for :naradi %>
</head>
<body>
<%= yield %>
</body>
</html>
