<!DOCTYPE html>
<html>
<head>
  <title>Předhradí Nesselsburgu</title>
  <%= stylesheet_link_tag 'predhradi.css' %>
  <%= javascript_include_tag 'predhradi.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="predhradi_page">
  <%= yield %>
</div>
</body>
</html>
